<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="ConfigurationProvider" class="ch.zhaw.swengineering.helper.ConfigurationProvider">
        <qualifier value="parkingTimeDef" />
        <constructor-arg index="0" ref="xml"/>
        <constructor-arg index="1" ref="className"/>
    </bean>
    <bean id="xml" class="java.lang.String">
        <constructor-arg value="./src/main/resources/parkingTimeDef.xml" />
    </bean>
    <bean id="className" class="java.lang.String">
        <constructor-arg value="ch.zhaw.swengineering.model.ParkingTimes" />
    </bean>

    <bean class="ch.zhaw.swengineering.helper.ConfigurationProvider">
        <qualifier value="coinBoxes" />
        <constructor-arg index="0" ref="coinBoxesXmlPath"/>
        <constructor-arg index="1" ref="coinBoxesClassName"/>
    </bean>
    <bean id="coinBoxesXmlPath" class="java.lang.String">
        <constructor-arg value="./src/main/resources/coinBoxes.xml" />
    </bean>
    <bean id="coinBoxesClassName" class="java.lang.String">
        <constructor-arg value="ch.zhaw.swengineering.model.CoinBoxes" />
    </bean>

    <bean class="ch.zhaw.swengineering.helper.ConfigurationProvider">
        <qualifier value="messages-de" />
        <constructor-arg index="0" ref="messagesXmlPath"/>
        <constructor-arg index="1" ref="messagesClassName"/>
    </bean>
    <bean id="messagesXmlPath" class="java.lang.String">
        <constructor-arg value="./src/main/resources/messages-de.xml" />
    </bean>
    <bean id="messagesClassName" class="java.lang.String">
        <constructor-arg value="ch.zhaw.swengineering.model.Messages" />
    </bean>

    <bean class="ch.zhaw.swengineering.helper.ConfigurationProvider">
        <qualifier value="secretCodes" />
        <constructor-arg index="0" ref="secretCodesXmlPath"/>
        <constructor-arg index="1" ref="secretCodesClassName"/>
    </bean>
    <bean id="secretCodesXmlPath" class="java.lang.String">
        <constructor-arg value="./src/main/resources/secretCodes.xml" />
    </bean>
    <bean id="secretCodesClassName" class="java.lang.String">
        <constructor-arg value="ch.zhaw.swengineering.model.SecretCodes" />
    </bean>

    <bean class="ch.zhaw.swengineering.helper.ConfigurationProvider">
        <qualifier value="parkingMeter" />
        <constructor-arg index="0" ref="parkingMeterXmlPath"/>
        <constructor-arg index="1" ref="parkingMeterClassName"/>
    </bean>
    <bean id="parkingMeterXmlPath" class="java.lang.String">
        <constructor-arg value="./src/main/resources/parkingMeter.xml" />
    </bean>
    <bean id="parkingMeterClassName" class="java.lang.String">
        <constructor-arg value="ch.zhaw.swengineering.model.ParkingMeter" />
    </bean>
</beans>